---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.tsx";
import { getCollection } from "astro:content";
import "../styles/global.css";

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => a.data.order - b.data.order);
---

<Layout pageTitle="Projects">
	<h1 class="text-4xl font-bold my-8">Projects</h1>
	<div class="flex flex-col gap-4">
		{
			sortedProjects.map((project, i) => (
				<Project
					title={project.data.title}
					description={project.data.description}
					image={project.data.image}
					url={project.data.url}
					github={project.data.github}
					tags={project.data.tags}
					featured={project.data.featured}
					index={i}
				/>
			))
		}
	</div>
</Layout>
